{% extends 'base.html' %}
{% block title %}{{ user['name'] }}{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/table_row_clickable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/back_to_top.js') }}"></script>
    <script src="https://kit.fontawesome.com/005d4d84d3.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <h1 class="text-primary" align="center">{{ user['name'] }}</h1>
    <h3 align="center">Info</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Birthdate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ user['id'] }}</th>
                <td>{{ user['name'] }}</td>
                <td>{{ user['gender'] }}</td>
                <td>{{ user['birthdate'].strftime('%d %b %Y') }}</td>
            </tr>
        </tbody>
    </table>

    <h3 align="center">Stats</h3>
    <p>To view user stats, click <a href="/stats?user_id={{ user['id'] }}">here</a>.</p>

    <h3 align="center">Snapshots</h3>
    <p>Select a snapshot to view it</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for snapshot in snapshots %}
            <tr class="table-row" data-href="/snapshot?user_id={{ user['id'] }}&snapshot_id={{ snapshot['snapshot_id'] }}">
                <th scope="row">{{ snapshot['snapshot_id'] }}</th>
                <td>{{ snapshot['timestamp'].strftime('%d %b %Y') }}</td>
                <td>{{ snapshot['timestamp'].strftime('%H:%M:%S.%f')[:-3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block basic %}
    <style type="text/css">
        .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display:none;
        }
        .back-to-top:hover {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display:inline !important;
        }
        </style>
    <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up fa-4x"></i></a>
{% endblock %}
